erl_crash.dump
.sw?
.*.sw?
*.beam
/.erlang.mk/
/cover/
/deps/
/ebin/
/logs/
/plugins/
/xrefr
elvis
callgrind*
ct.coverdata
test/ct.cover.spec
_build

ra.d
*.plt
*.d

*.jar

# Ra node runtime artifacts
config
*.dets
*.wal
*.segment

doc/*

/.bazelrc
/bazel-*
