# vim: ft=yaml
# https://erlang-ls.github.io/configuration/
# otp_path: "/path/to/otp/lib/erlang"
deps_dirs:
  - "src"
  - "deps/*"
diagnostics:
  disabled:
    - bound_var_in_pattern
    - elvis
    - dialyzer
  enabled:
    - crossref
    - compiler
    # - elvis
include_dirs:
  - "src"
  - "deps"
  - "deps/*/include"
# lenses:
#   enabled:
#     - ct-run-test
#     - show-behaviour-usages
#   disabled: []
# macros:
#   - name: DEFINED_WITH_VALUE
#     value: 42
# code_reload:
#  node: rabbit@localhost
# plt_path: .ra.plt
plt_path: _build/default/rebar3_26.2.5_plt
