{deps, [
        {gen_batch_server, "0.6.0"},
        {aten, "0.5.0"}
]}.
{profiles,
 [{test, [{deps, [meck, proper]}]}]
}.
{dist_node, [
    {sname, 'ra'}
]}.
{plugins, [rebar3_hex]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
{dialyzer, [{warnings,
             [error_handling,
              race_conditions,
              unmatched_returns]}]}.
{xref_extra_paths, ["test"]}.
{xref_checks,[undefined_function_calls,
              undefined_functions,
              locals_not_used,
              % exports_not_used,
              deprecated_function_calls,
              deprecated_functions]}.
