{deps, [
        {gen_batch_server, "0.8.9"},
        {aten, "0.6.0"},
        {seshat, "1.0.0"}
]}.

{profiles,
 [{test, [{deps, [proper,
                  meck,
                  elvis,
                  {inet_tcp_proxy_dist,
                   {git, "https://github.com/rabbitmq/inet_tcp_proxy",
                    {branch, "master"}}}
                 ]}
         ]}
 ]
}.

%% To use inet_tcp_proxy with rebar3 shell, run:
%% ERL_FLAGS="-proto_dist inet_tcp_proxy" rebar3 as test shell

{dist_node, [
    {sname, 'ra'}
]}.
{project_plugins, [rebar3_hex]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
{dialyzer, [{warnings,
             [error_handling,
              unmatched_returns]},
            {plt_extra_apps, [eunit]}]}.
{xref_extra_paths, ["test"]}.
{xref_checks,[undefined_function_calls,
              undefined_functions,
              locals_not_used,
              % exports_not_used,
              deprecated_function_calls,
              deprecated_functions]}.
{hex, [
  {doc, edoc}
]}.
