{deps, [
        {gen_batch_server, "0.8.8"},
        {aten, "0.6.0"},
        {seshat, "0.6.0"},
        {eqwalizer_support,
          {git_subdir,
          "https://github.com/whatsapp/eqwalizer.git",
          {branch, "main"},
          "eqwalizer_support"}}
]}.

{profiles,
 [{test, [{deps, [proper,
                  meck,
                  elvis,
                  {looking_glass,
                   {git, "https://github.com/rabbitmq/looking_glass",
                    {branch, "main"}}},
                  {inet_tcp_proxy_dist,
                   {git, "https://github.com/rabbitmq/inet_tcp_proxy",
                    {branch, "master"}}}
                 ]}]}
 ]
}.

{dist_node, [
    {sname, 'ra'}
]}.
{project_plugins, [rebar3_hex,
                   {eqwalizer_rebar3,
                     {git_subdir,
                     "https://github.com/whatsapp/eqwalizer.git",
                     {branch, "main"},
                     "eqwalizer_rebar3"}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
{dialyzer, [{warnings,
             [error_handling,
              unmatched_returns]},
            {plt_extra_apps, [eunit]}]}.
{xref_extra_paths, ["test"]}.
{xref_checks,[undefined_function_calls,
              undefined_functions,
              locals_not_used,
              % exports_not_used,
              deprecated_function_calls,
              deprecated_functions]}.
{hex, [
  {doc, edoc}
]}.
