name: Check-Actions-Updates

on:
  # We have to use an unreleased version of the `setup-beam` action to benefit
  # from a fix when it is used on Windows. Unfortunately, setup-beam still has
  # no release with that fix, despite multiple requests.
  #
  # For now, disable this job for pull requests and pushes to the main branch.
  #
  # push:
  #   branches:
  #     - main
  # pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 16 * * 2' # Runs Tuesdays at 16:00 UTC

permissions:
  contents: read

jobs:
  check-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - id: actions-check
        run: ${{ github.workspace }}/.github/scripts/check-actions-updates.sh
      - if: steps.actions-check.outputs.has-updates == 'true'
        run: |
          echo "::error:: Found ${{ steps.actions-check.outputs.update-count }} outdated GitHub Actions!"
          echo "::info:: You can update them by running: "npx actions-up --yes" and opening a PR."
          exit 1
