name: Test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: "build (${{ matrix.otp_version }} + ${{ matrix.os }})"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        otp_version: [26, 27, 28]
        os: [ubuntu-latest, windows-2022]
    steps:
    - name: CHECKOUT
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: CONFIGURE ERLANG
      # Pin setup-beam to a version that works with Windows (not released at
      # the time of commit).
      uses: erlef/setup-beam@566deebc640988a494af16ecdf6f820fe0d3fea4
      with:
        otp-version: ${{ matrix.otp_version }}
        rebar3-version: '3.25.1'
    - name: XREF
      if: ${{ matrix.os == 'ubuntu-latest'}}
      run: rebar3 xref
    - name: DIALYZE
      if: ${{ matrix.otp_version == 27 && matrix.os == 'ubuntu-latest'}}
      run: rebar3 dialyzer
    - name: BUILD
      run: rebar3 compile
    - name: EUNIT
      run: rebar3 eunit
    - name: COMMON TEST
      run: rebar3 ct
    - name: CAPTURE TEST LOGS ON FAILURE
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: failure()
      with:
        name: ct-logs-${{matrix.otp_version}}-${{matrix.os}}
        path: _build/test/logs
