name: Trigger Jepsen Tests
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Trigger RA Jepsen Tests
      uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
      with:
        event-type: ra_change
        repository: rabbitmq/ra-kv-store
        token: ${{ secrets.MK_RELEASE_AUTOMATION_TOKEN }}
